body {
    font: 20px ariel, sans-serif;
}
.navbar {
    background-color: red;
}

.quem-somos {
    background-color: blue;
    color: white;
}

.margin {
        padding-bottom: 50px;
        padding-top: 10px;
}

.parceiros {
    background-color: green;
    color: white;
}

    .bg-footer {
        background-color: black;
        color: white;
    }
